/* Celia Bobo Rodríguez-Noriega UO222898 */
/*Especificidad: 001*/
body {
    font-family: "Century Gothic", sans-serif;
    background-color:#b1d4e0;
    color: #0c2d48; 
}
/*Especificidad: 001
Hereda de body color: #0c2d48*/
header{
    background-color:#186072;
    border-radius: 1em;
    padding: 1.3em;
}
/*Especificidad: 002
Hereda de header background-color:#186072*/
h1 a{
    color:#fff;
    text-decoration-line: none;
}

/*Especificidad: 001
*/
h1{
    margin-left: 0.5em;
}

/*Especificidad: 002
Hereda de header background-color:#186072*/
nav a {
    color:#fff;
    text-decoration-line: none ;
    font-size: 1.2em;
    padding: 0.3em;
}

/*Especificidad 012
Hereda de header background-color:#186072*/
nav a:active{
    font-size:1.25em;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color:#A4C3FC;
}

/*Especificidad : 001
*/
h2 {
    text-decoration-line: underline;
    text-decoration-style: wavy  ;
    text-underline-position: under;

}

/*Especificidad 012
*/
body > p:first-of-type{
    font-size: 0.8em;
}

/*Especificidad 002
Hereda de body background-color:#b1d4e0*/
p a {
    color: #0c2d48; 
    margin: 0.4em;
}

/*Especificidad 012
Hereda de p a color: #0c2d48*/
p a:hover{
    background: #AFFDDB;
    text-decoration-line: none;
}

/*Especificidad 002
*/
ul li { 
    list-style-type: "➤"; 
    font-weight: bold;
}

/*Especificidad 004
*/
ul li ul li { 
    list-style-type: "★"; 
    font-weight: normal;

}

/*Especificidad 002*/
dl dt{
    color: #172E2E;
    font-weight: bold;
    background-color:#65C1EC ;
}

/*Especificidad 001
Hereda de body background-color:#b1d4e0*/
table{
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    border: 3px double #B57162;
    color: #141414;
}
 
/*Especificidad 011
*/
th:nth-child(1) {
  width: 25%;
}

/*Especificidad 001
*/
th {
    width:20%;
    border: 3px solid #B57162;
    padding: 0.2em;
}

/*Especificidad 001
*/
td{
    text-align: center;
    overflow: hidden;
}

/*Especificidad 011
Hereda de table color: #141414*/
tr:nth-child(odd) {
    background-color: #B89D74;
}

/*Especificidad 011
Hereda de table color: #141414*/  
tr:nth-child(even) {
    background-color: #F7BB5E;
}

/*Especificidad 001
Hereda de body background-color:#b1d4e0*/
caption {
    padding: 1em;
    font-weight: bold;
    font-style: italic;
    color: #666;
    text-align: center;
}

/*Especificidad 001
*/
video {
    width:70%;
    height:auto;
}

/*Media Query*/
@media screen and (min-width: 320px) and (max-width: 480px) {
     /*Especificidad 011
    */
    p:first-of-type {
      display: none;
    }

}



