/* Celia Bobo Rodríguez-Noriega UO222898 */
body {
    font-family: Century Gothic, sans-serif;
    background-color:#b5e5cf;
    color: #167d7f; 
}

header{
    background-color:#98d7c2;
}
h1{
    color:#29a0b1;
}
a{
    color:#167d7f;
}